/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html.pdf-merge-page,
 html.pdf-merge-page > body,
 .left-pane,
 .right-pane {
   height: 100%;
 }

 html.pdf-merge-page > body {
   width: 100%;
   padding: 0;
   margin: 0;
 }

 .left-pane {
   width: 33%;
   float: left;
 }

 .left-pane > .ui-resizable-handle {
   background-color: lightgray;
   right: 0;
   opacity: 0.5;
 }

 .left-pane > .ui-resizable-handle:hover {
   opacity: 1.0;
 }

 .left-pane,
 .right-pane {
   overflow-y: auto;
 }
