.right-pane {
  text-align: center;
  background-color: #f3f3f3;
}

.right-pane img.first-page {
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.15);
}

/* --------------------- pageSelector widget --------------------- */

.right-pane .pg-selector-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0,0,0,0.8);
  color: white;
  display: none;
}

.right-pane .pg-selector-backdrop .close-pg-selector {
  float: right;
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 20px;
  opacity: 0.8;
}

.right-pane .pg-selector-backdrop .close-pg-selector:hover {
  cursor: pointer;
  opacity: 1.0;
}

.right-pane .pg-selector-backdrop .thumbs,
.right-pane .pg-selector-backdrop .page-view {
  overflow-y: auto;
}

.right-pane .pg-selector-backdrop .thumbs {
  width: 50%;
  height: 100%;
  float: left;
}

.right-pane .pg-selector-backdrop .thumbs li {
  display: inline-block;
  float: left;
  padding: 5px;
  position: relative;
  width: 110px; /* TODO: set this dynamically based on image width */
  height: 163px; /* TODO: set this dynamically based on image height */
  opacity: 0.5;
}

.right-pane .pg-selector-backdrop .thumbs li.selected {
  background-color: rgba(119,251,155,0.5);
  opacity: 0.75;
}

.right-pane .pg-selector-backdrop .thumbs li:hover {
  cursor: pointer;
  background-color: rgba(144, 199, 247, 0.75);
  opacity: 1.0;
}

.right-pane .pg-selector-backdrop .thumbs li.clicked {
  opacity: 1.0;
}

.right-pane .pg-selector-backdrop .thumbs li.selected:hover {
  background-color: rgba(119,251,155,0.75);
}

.right-pane .pg-selector-backdrop .thumbs li img {
  margin: 5px;
}

.right-pane .pg-selector-backdrop .thumbs li img,
.right-pane .pg-selector-backdrop .thumbs li input[type='checkbox'] {
  position: absolute;
  top: 0px;
  left: 0px;
}

.right-pane .pg-selector-backdrop .thumbs li input[type='checkbox'] {
  top: 5px;
  left: 10px;
}

.right-pane .pg-selector-backdrop .thumbs > .ui-resizable-handle {
  background-color: lightgray;
  right: 0;
  opacity: 0.5;
  float: left;
}

.right-pane .pg-selector-backdrop .thumbs > .ui-resizable-handle:hover {
  opacity: 1.0;
}
