.right-pane {
  text-align: center;
  background-color: #f3f3f3;
}

.right-pane img.first-page {
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.15);
  max-width: 500px;
}
