<div class='left-pane'>
  <div id='f_tree'></div>
  <div class='clearfix'></div>
  <div class='ui-resizable-e ui-resizable-handle'></div>
</div>

<div class='right-pane'></div>

<script>
  <%= render partial: 'index', formats: :js %>
</script>
