<!DOCTYPE html>
<html>
<head>
  <title>Pdf merge</title>
  <%= stylesheet_link_tag    "pdf_merge/application", media: "all" %>
  <%= javascript_include_tag "pdf_merge/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
